{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Registo de Fornecedor' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Registo de Fornecedor' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}
    {% trans "Registo de Fornecedor" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 register_form">
            <form method="post" id="fornecedor_register_form" class="card card-body bg-light">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=form %}
                <button type="submit" class="btn btn-secondary btn-lg">
                    {% trans "Registar como Fornecedor" %}
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
